<div class="row mb-3">
  <div class="col-4">
    <input
      type="text"
      placeholder="Search"
      id="search"
      (keyup)="updateFilter($event)"
      />
  </div>
</div>

<ngx-datatable 
  class="material fadeIn animated"
  [headerHeight]="50"
  [footerHeight]="50"
  [rows]="rows"
  [columns]="columns"
  [columnMode]="ColumnMode.force"
  rowHeight="auto"
  [limit]="5"
  [selected]="selected"
  [selectionType]="SelectionType.single"
  (activated)="onActivate($event)"
  (select)="onSelect($event)">
</ngx-datatable>
