<div class="row">
  <div class="col-12">
    <h2>Admin Panel</h2>
  </div>
</div>

<div class="row align-items-center mh-100" *ngIf="!users">
  <div class="col d-flex justify-content-center">
    <i class="fa fa-spinner fa-spin fa-5x" aria-hidden="true"></i>
  </div>
</div>
<div class="row mt-5">
  <div class="col-12">
    <ovb-user-table [userData]="users" *ngIf="users"></ovb-user-table> 
  </div>
</div>

<!-- <form [formGroup]="userFG" (click)="getUserById(userIdFC.value)"> -->
<!--   <div class="form-group form-row"> -->
<!--     <label for="userId" -->
<!--            class="col-12">User ID:</label> -->
<!--     <input type="text" --> 
<!--            class="col-12 form-control" -->
<!--            [formControl]="userIdFC" --> 
<!--            aria-describedby="userIdHelp" -->
<!--            placeholder="User Id" -->
<!--            id="userId"> -->
<!--     <small id="userIdHelp" -->
<!--            class="col-12 form-text text-muted"> -->
<!--       Something important</small> -->
<!--   </div> -->
<!--   <button -->
<!--            class="btn btn-primary" --> 
<!--           type="button"> -->
<!--     Search</button> -->
<!-- </form> -->

<!-- <div *ngIf="isLoading"> -->
<!--   {{user | json}} -->
<!-- </div> -->
