
.bg-gradient-dark-blue {
  background: rgb(2,0,36);
  background: -moz-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#00d4ff",GradientType=1);
}

.bg-gradient-register-host {
  background: linear-gradient(90deg, #f8ff00 0%, #3ad59f 100%);

  background: rgb(58,213,177);
  background: -moz-linear-gradient(146deg, rgba(58,213,177,1) 0%, rgba(248,255,0,1) 80%);
  background: -webkit-linear-gradient(146deg, rgba(58,213,177,1) 0%, rgba(248,255,0,1) 80%);
  background: linear-gradient(146deg, rgba(58,213,177,1) 0%, rgba(248,255,0,1) 80%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3ad5b1",endColorstr="#f8ff00",GradientType=1);
}
