<div class="jumbotron jumbotron-fluid bg-gradient-dark-blue shadow">
  <div class="container">
    <div class="row">

      <div class="col col-md-5 border-right border-light text-light">
        <h1 class="display-4">Welcome.</h1>
        <p class="lead">Get started here by searching available sites.</p>
        <div class="search-container">
          <form class="form-inline">
            <div class="form-group">
              <input class="form-control form-control-lg" type="text" placeholder="search">
            </div>
            <button type="submit" class="btn btn-outline-light btn-lg ml-2">
              <span class="fa fa-search"></span>
            </button>
          </form>
        </div>
      </div>

      <div class="col col-md-7 pl-5 text-light">
        <h1 class="display-4">Start A Road Trip.</h1>
        <p class="lead">Have an adventure to plan out? Use our road trip planner.</p>
        <div class="road-trip-container">
          <button type="submit" class="btn btn-success btn-lg">Get Started</button>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Promotions</h1>
    <p>This is where the user will see promotional sites</p>
  </div>
</div>


<div class="jumbotron jumbotron-fluid bg-gradient-register-host">
  <div class="container">
    <h1 class="display-4">Become a host.</h1>
    <p>Want to make some money? Have some spare land? Become a host to post on Overland Bread and Breakfast.</p>
    <button type="submit" class="btn btn-outline-dark btn-lg">Register Now</button>
  </div>
</div>
