<div class="container">
  <div class="row">
    <div class="col py-4"><h3>Search for <span class="badge badge-light">{{ query }}</span></h3></div>
  </div>

  <div class="search-results-container shadow-sm">
    <div class="card mb-3">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="/assets/img/placeholder.gif" alt="Some image here" class="img-thumbnail border-0">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Sample Result Title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
